#################
## Eclipse
#################
*.pem
*.chef
*__pycache__*
provisioning_tool.sqlite3
chef-provisioning/aws_cluster_provisioning.rb
chef-provisioning/azure_cluster_provisioning.rb
*azure_log_interactive.txt
*aws_log_interactive.txt
logfile
*.sqlite3
*.txt
*.json
coobooks/
.chef/knife.rb
.chef/keys/chef_default
*.out
.chef/local-mode-cache/cache/chef-client-running.pid
*.pptx
provisioning_tool.sqlite3
static_in_pro/our_static/img/softtek.jpg
*.exe
