{% extends "base.html" %}

{% block content %}

    <h2>Simple Server Provisioner</h2>

    <br>

    <form action= 'list_server' method="get">
        {% csrf_token %}
        <input type="submit" value="Server List" id="toggle1" />
    </form>

    <form action= 'cluster_create' method="get">
        {% csrf_token %}
        <input type="submit" value="Create Cluster" id="toggle2" />
    </form>


    <form action= 'cluster_create' method="get">
        {% csrf_token %}
        <input type="submit" value="Provision Environment" id="toggle2" />
    </form>

    <form action= 'cluster_create' method="get">
        {% csrf_token %}
        <input type="submit" value="Create App" id="toggle2" />
    </form>

{% endblock content %}




