{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if request.user.is_superuser %}
<div class="panel panel-primary">
    <div class="panel panel-heading">Creating Server:</div>
        <div class="panel panel-body">
            <b>Image Id:</b> {{  ami }}<br>
            <b>Name Tag:</b> {{  name }} <br>
            <b>Flavor:</b> {{  instance_type }} <br>
            <b>Roles:</b> {{ roles }} <br>
            <b>Runlist:</b> {{ runlist }}
        </div>
</div>

{% include 'aws_log.html' %}
{% elif request.user.is_staff %}
<div class="panel panel-primary">
    <div class="panel-heading">Creating Server:<br><br></div>
        <div class="panel-body">
            <b>Image Id:</b> {{  ami }}<br>
            <b>Name Tag:</b> {{  name }} <br>
            <b>Flavor:</b> {{  instance_type }} <br>
            <b>Roles:</b> {{ roles }} <br>
            <b>Runlist:</b> {{ runlist }}
        </div>
</div>

{% include 'aws_log.html' %}
{% elif request.user.is_authenticated %}
        <div class="panel panel-primary">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/softtek.png' %}" />
            <hr size="20" />
            <h1></a>Provisioning Tool</h1>
            <p>Hello {{ user }}, </p>
            <p>You are not authorized for this action, please contact the administrator.</p>
        </div> 
{% else %}
        <div class="panel panel-primary">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/softtek.png' %}" />
            <hr size="20" />
            <h1></a>Provisioning Tool</h1>
            <p>You are not currently logged in, please try again or contact the administrator.</p>
        </div>    

{% endif %}
<style type="text/css">
#footer {
  clear: both;
  font-family: Candara, Tahoma, Arial, Helvetica, Sans-serif;
  font-size: 10px;
  color: #c9c9c9;
  border-top: 1px solid #efefef;
  padding: 9px 25px;
  line-height: 10px;
  background: #000;
  position:relative; 
  left:3px; 
  right:3px; 
  bottom:3px; 
  height:50px;
  z-index:0;
}

#footer #altnav {
  width: 350px;
  float: right;
  text-align: right;
  padding-top: 5px;
}

#footer #copyright {
  padding-top: 5px;
}

#footer a {
  color: #c9c9c9;
  text-decoration: none;
}

#footer a:hover {
  color: #db6d16;
}
</style>
{% endblock content %}
