<!DOCTYPE html>

<html>

<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">

</script>

</head>

<body>

 <!-- <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div> -->

<!-- <button>Get External Content</button> -->
<!-- <div id="lesen" > -->
    <!-- <input type="button" id="lesen" value="Lesen!" /> -->
<!-- </div> -->

<!-- <div class="text"> -->
    <!-- Lorem Ipsum <br /> -->
<!-- </div>  -->

 <!-- <script sr="static_in_pro/our_static/js/carga.js"></script> -->



<div class="panel panel-primary">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body" id="lesen" >

  </div>
</div>



<script src="../static_in_pro/our_static/js/carga.js"></script>
</body>

</html>